
<html>
{% load static %}


<head>
     <title>Aliotho</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600&family=Pontano+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'home/style1.css' %}">
</head>
<div class="namepage">

 <div class="title">
    <h1>
        {{title}}
    </h1>
    </div>
</div>

<div class="column_list">

    <div></div>
        {% if menuFields %}

            <ul class="main_menu">

                {% for field in menuFields %}

                        <li class="list_menu"><a href={{field.getRelatedLinkText}} >{{field.menuField}}</a></li>

                    {% endfor %}
            </ul>

        {% else %}
            <p>No field are available.</p>
        {% endif %}
    <div></div>

</div>

    <div class="homePage">


            <div class ="image_outer">
            <!img class="wave_image" src="{% static 'home/images/wave_lateral.png' %}">
                <div>
                    releases
                </div>
            </div>


        <div class="center">


            <div class="photos_menu">
                <img src="{% static 'home/images/aliotho2.jpg' %}">
                <img src="{% static 'home/images/aliotho1.jpg' %}">
                <img src="{% static 'home/images/aliotho3.jpg' %}">

            </div>

</div>
    <div class="lateral_right">

       <div>about</div>
    </div>

</div>


</html>
