
<html>
{% load static %}


<head>
     <title>Aliotho</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600&family=Pontano+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'home/style1.css' %}">
</head>

<body >
<div class="namepage">
    <div class="lateral_upper_left_menu"></div>

    <!--div class="title">
    <h1>
        {{title}}
    </h1>
    </div-->
    <div class="lateral_upper_right_menu">

        <div class="lateral_right" style="order:2;">

               <div>about</div>
        </div>

        <div class ="image_outer" style="order:1;">
                <!img class="wave_image" src="{% static 'home/images/wave_lateral.png' %}">
                    <a href="{% url 'releases:index'%}">
                        releases
                    </a>
        </div>
    </div>






</div>




        {% if menuFields %}

            <ul class="main_menu" >
                     <div class="main_box_image_container" style="background-image: url({% static 'home/images/fotobew.jpg' %}); backgroud-repeat=no-repeat;
                     background-size : cover; background-position: 50% 50%; height:500px;  width:auto; flex-grow: 2;" >

                         <div class="title">
                            <h1>
                                {{title}}
                            </h1>
                         </div>


                </div>


            <div class="list_menu_elements" style="text-align: -moz-center;flex-grow: 1;">
                {% for field in menuFields %}

                        <li class="list_menu" >
                            <a href={{field.getRelatedLinkText}} >{{field.menuField}}</a></li>

                    {% endfor %}

            </div>
            </ul>

        {% else %}
            <p>No field are available.</p>
        {% endif %}



    <section class="latest_section">
        <h1 style="font-family: 'Josefin Sans', sans-serif;font-size: 60px;transition: 1.4s cubic-bezier(.05,.9,.32,.96);">Latest</h1>

        {% with imageLink=imageLink%}

        <div class="last_release_container" style="display:flex;">
                <img class="image_latest"  src={%static imageLink%} style="max-width:500px;max-height:10000px;">

        {%endwith%}
                    </img>

                <div class="last_release_text" style="font-family: 'Josefin Sans', sans-serif;font-size: 30px;transition: 1.4s cubic-bezier(.05,.9,.32,.96);text-align: inherit;margin-left: 100px;">
                    {{releaseText}}
                </div>
        </div>




        </section>


            <!--div class ="image_outer">
            <!img class="wave_image" src="{% static 'home/images/wave_lateral.png' %}">
                <a href="{% url 'releases:index'%}">
                    releases
                </a>
            </div>


        <div class="center">


            <div class="photos_menu">
                <img src="{% static 'home/images/fotobew.jpg' %}">


            </div>

</div>
    <div class="lateral_right">

       <div>about</div>
    </div>

</div-->

</body>
</html>
