{% load static %}


html{
font-size:100%;
}
.list_header{
margin:15px;
font-family: 'Josefin Sans';
font-size: 60px;
transition: 1.4s cubic-bezier(.05,.9,.32,.96);
list-style-type:none

}

@media (max-width: 640px) { .list_header
 {font-size:3rem;}

 }

body{
background-color:#f0f0f0
}








.title {
    font-family:'Josefin Sans', sans-serif;
    transition: 1.4s cubic-bezier(.05,.9,.32,.96);
    font-size:70px;
    position:relative;
    text-align: center;
}

@media (max-width: 640px) { .title
 {font-size:3rem;}

 }




.menu_links{
 display: grid;
    grid-template-rows: auto ;
    grid-gap: 20px;


}



.title h1 {
	margin-bottom: auto;
	color: #00fff3;
	margin-top: 170px;
}


.image_outer a{

position: sticky;
    top: 0;
    /* right: 0; */
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
    transition: 1.4s cubic-bezier(.05,.9,.32,.96);
    margin:10px;
    text-decoration:none;
    color:black;


}

.image_outer a:hover
{
color: rgba(187, 26, 26);
font-size:60px;


}

@media (max-width: 640px){ .image_outer a
 {font-size:5rem;}
}





.lateral_right div
{
position: sticky;
    top: 0;
    /* right: 0; */
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    transition: 1.4s cubic-bezier(.05,.9,.32,.96);
    float:right;
    margin:10px;
    order:1;


}

@media (max-width: 640px){ .lateral_right div
 {font-size:5rem;}
}
.lateral_right div:hover
{
color: rgba(187, 26, 26);
font-size:70px;


}

.list_menu{
    font-family: 'Pontano Sans', sans-serif;
    font-size: 50px;
    transition: 1.4s cubic-bezier(.05,.9,.32,.96);
    text-align: center;
    color: black;
    border: solid #000 2px;
    margin: 6px;
    width: 70%;

}



.list_menu:hover{
color: rgba(255, 255, 255, 0.85);
background-color: rgba(187, 26, 26);
opacity: 1;

}



.main_menu{
list-style-type: none;
    padding: 0;
    flex:inherit;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap:wrap;
}

.main_menu article {

background-image: url( "{% static 'images/fotobew.JPG' %}");
}




.list_menu a:hover {
text-decoration:none;
color:white;


}

.photos_menu{
display: list-item;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    list-style-type: none;
}


img {
  max-width:60%;


}



.image_outer {
position:relative;

}

.image_outer img{
 object-fit: cover;
  height: -webkit-fill-available;

}


.lateral_left_menu_rotate{
margin: auto;
width:100%;
text-align : center;


}


.latest_section {
    display: flex;
    flex-direction: column;


}

@media (max-width: 640px){ .last_release_text
 {font-size:5rem;}
}



.namepage{

 display: flex;
    grid-template-column: auto ;
    grid-gap: 20px;
    justify-content:space-around;

}

.column_list{
display:flex;
justify-content:center;
}

.lateral_upper_right_menu{
display:flex;
flex-direction:row;
align-items:center;
justify-content:end;
flex-wrap: wrap;
flex: 1 0 0;

}

.lateral_upper_right_menu a{
font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    transition: 1.4s cubic-bezier(.05,.9,.32,.96);
    text-align : center;
    flex-basis: 100px;
    width: 40px;



}

.lateral_upper_left_menu {
flex: 1 0 0;

}

.image_latest{
max-width:500px;max-height:10000px;margin:34px;
}

@media (max-width: 640px) { .image_latest
 {max-width:300px;}

 }